@{
  ViewBag.Title = "GoAvsGo";
}

<script>
  $(document).ready(function () {
    debugger;
    $('.hockeyBr').hide();
    $.ajax({
      url: 'https://dailyverses.net/get/verse?language=niv&isdirect=1&url=' + window.location.hostname,
      dataType: 'JSONP',
      success: function (json) {
        $(".dailyVersesWrapper").prepend(json.html);
      }
    });

    //$('#button').click(function () {
    //  $('.hockeyBr, .bibleVerseBr').slideToggle();
    //  if ($('#button')[0].src.indexOf("Avs") >= 0)
    //    $('#button').attr("src", "../Images/cross.JPG");
    //  else
    //    $('#button').attr("src", "../Images/AvsLogo.jpg");
    //});

    //function makeTimer(gameTime) {
    //  var endTime = new Date(gameTime);
    //  endTime = (Date.parse(endTime) / 1000);

    //  var now = new Date();
    //  now = (Date.parse(now) / 1000);

    //  var timeLeft = endTime - now;

    //  var days = Math.floor(timeLeft / 86400);
    //  var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
    //  var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
    //  var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

    //  if (hours < "10") { hours = "0" + hours; }
    //  if (minutes < "10") { minutes = "0" + minutes; }
    //  if (seconds < "10") { seconds = "0" + seconds; }

    //  $("#days").html(days + "<span>Days</span>");
    //  $("#hours").html(hours + "<span>Hours</span>");
    //  $("#minutes").html(minutes + "<span>Minutes</span>");
    //  $("#seconds").html(seconds + "<span>Seconds</span>");

    //}

    //$.ajax({
    //  cache: false,
    //  url: '/Home/GetAvsScheduleInfo',
    //  type: 'GET',
    //  contentType: "application/json;charset=utf-8;",
    //  dataType: "json",
    //  beforeSend: function () {
    //  },
    //  success: function (data) {
    //    var gameInfo = data;
    //    $('#awayTeamLogo').attr("src", gameInfo.AwayLogoUrl);
    //    $('#homeTeamLogo').attr("src", gameInfo.HomeLogoUrl);
    //    var now = new Date();
    //    var gameTime = new Date(gameInfo.GameTimeStart);
    //    if (now > gameTime) {
    //      $('#scoreBoard').show();
    //      $("#awayTeamScore").text(gameInfo.AwayScore);
    //      $("#homeTeamScore").text(gameInfo.HomeScore);
    //      $("#homeSog").text("SOG-" + gameInfo.HomeSog);
    //      $("#awaySog").text("SOG-" + gameInfo.AwaySog);

    //      $("#currentPeriodTimeRemaining").text(gameInfo.CurrentPeriodTimeRemaining);
    //      $("#currentPeriod").text(gameInfo.CurrentPeriod);
    //    }
    //    else {
    //      $('#puckDrop').show();
    //      setInterval(function () { makeTimer(gameInfo.GameTimeStart); }, 1000);
    //    }
    //  },
    //  error: function (xhr, textStatus, errorThrow) {
    //    debugger;
    //  }
    //});

    //$("#btnScheduleStats").click(function () {
    //  $('#scoreAndStats, #schedule').slideToggle();
    //  if ($('#btnScheduleStats').val() == "Schedule")
    //    $("#btnScheduleStats").prop('value', 'Stats');
    //  else
    //    $("#btnScheduleStats").prop('value', 'Schedule');
    //});

  });

</script>

@*<img src="~/Images/cross.JPG" class="btnToggle" id="button" />*@
<div class="bibleVerseBr">
  <div class="bibleVerse">
    <h1 class="dailyVersesWrapper"></h1>
  </div>
</div>

@*Index.txt in content goes here*@

@*test*@